.primary {
    color: #$uno;
    background-color: #$uno;
    border-color: #$uno;
}
.secondary {
    color: #$dos;
    background-color: #$dos;
    border-color: #$dos;
}
.tertiary {
    color: #$tres;
    background-color: #$tres;
    border-color: #$tres;
}